.daily_dashboard_TD_1_1 {
    color: rgb(31, 78, 120);
    font-weight: bold;
}

.daily_dashboard_TD_1_1 p {
    margin-bottom: 0;
    text-align: center;
}

.daily_dashboard_TD_1_1 .row_1{
    height: 36px;
    line-height: 36px
    
}
.daily_dashboard_TD_1_1 .row_2{
    height: 46px;
    line-height: 46px;
}

.daily_dashboard_TD_1_1 .row_1 p{
    background-color: rgb(221, 235, 247);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.daily_dashboard_TD_1_1 .row_2 p {
    background-color: rgb(31, 78, 120);
    color: white;
}

/* .daily_dashboard_TD_1_1 .row_3 .col-4{
    padding: 0;
} */

.daily_dashboard_TD_1_1 .row_3 p{
    height: 28px;
}

.daily_dashboard_TD_1_1 .row_3 .col-lg-5{
   padding: 0;
   line-height: 28px;
}
.daily_dashboard_TD_1_1 .row_3 .col-lg-5 p{
    color: black;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
 }

 .green {
    color: green;
 }
 .red {
    color: red;
 }




