<div class="col-lg-2 frame_staffQL" >
    <form action="/DScongviec/quanly/<%= staffQL.CIF_QUANLY %>" method="GET">
    <div>
        <div class="row">
            <div class="col-12">
                <p class="p_1"><%= staffQL.Name %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><%= staffQL.CIF_QUANLY %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit">Kiểm tra</button>
            </div>
        </div>
    </div>
</form>
</div>