<div class="row titleTTNSQL">
    <div class="col-1">
        <p>CIF</p>
    </div>
    <div class="col-3">
        <p>Họ tên</p>
    </div>
    <div class="col-3">
        <p>Email</p>
    </div>
    <div class="col-2">
        <p>Phone</p>
    </div>
    <div class="col-2">
        <p>Trạng thái</p>
    </div>
</div>