<figure class="highcharts-figure">
  <div id="QM_HDV_NKH_Daily"></div>
  <p class="highcharts-description">
  </p>
</figure>

<script>
      var data_QM_CKH = <%= data_QM_CKH %>
      var data_QM_KKH = <%= data_QM_KKH %>

</script>