<figure class="highcharts-figure">
    <div id="daily_dashboard_HDV_chart_1"></div>
    <p class="highcharts-description">
    </p>
</figure>

<script>
    let data_HUY_DONG_VON_CKH = <%= data_HUY_DONG_VON_CKH %> 
    let date_HUY_DONG_VON_CKH = <%- date_HUY_DONG_VON_CKH %>
</script>