<figure class="highcharts-figure">
    <div id="LS_HD_Daily_KKH"></div>
  </figure>

  <script>
    var data_LAI_SUAT_HD_KKH = <%= data_LAI_SUAT_HD_KKH %> 
    var arrayInputDateLSKKH = <%- arrayInputDate %>
  </script>