<figure class="highcharts-figure">
  <div id="TT_HDV_KKH_Daily"></div>
  <p class="highcharts-description">
  </p>
</figure>

<script>
  var data_TT_HDV_KKH_DTD = <%= data_TT_HDV_KKH_DTD %>
  var data_TT_HDV_KKH_MTD = <%= data_TT_HDV_KKH_MTD %>
  var data_TT_HDV_KKH_YTD = <%= data_TT_HDV_KKH_YTD %>
</script>