<figure class="highcharts-figure">
  <div id="TT_HDV_CKH_Daily"></div>
  <p class="highcharts-description">
  </p>
</figure>

<script>
  var data_TT_HDV_CKH_DTD = <%= data_TT_HDV_CKH_DTD %>
  var data_TT_HDV_CKH_MTD = <%= data_TT_HDV_CKH_MTD %>
  var data_TT_HDV_CKH_YTD = <%= data_TT_HDV_CKH_YTD %>
</script>