<figure class="highcharts-figure">
    <div id="daily_dashboard_HDV_chart_1"></div>
    <p class="highcharts-description">
    </p>
</figure>

<script>
    var data_HUY_DONG_VON_CKH = <%= data_HUY_DONG_VON_CKH %> 
    var arrayInputDate = <%- arrayInputDate %>
</script>