<figure class="highcharts-figure">
    <div id="LS_HD_Daily_CKH"></div>
  </figure>

  <script>
    var data_LAI_SUAT_HD_CKH = <%= data_LAI_SUAT_HD_CKH %> 
    var arrayInputDateLSCKH = <%- arrayInputDate %>
  </script>