<figure class="highcharts-figure">
  <div id="TT_Casa"></div>
  <p class="highcharts-description">
  </p>
</figure>

<script>
  var TT_CASA_categories = <%- TT_CASA_categories %>
  var TT_CASA_Value = <%= TT_CASA_Value %>
</script>
