<div class="row TKTT">
    <div class="col-4">
        <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
                <h5>SL TKTT</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT">SL TKTT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT">SL TKTT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT">SL TKTT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT">SL TKTT</p>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
                <h5>SL TKTT eKYC</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC">SL TKTT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC">SL TKTT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC">SL TKTT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC">SL TKTT</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-12">
               <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="note">Current</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="note">Dtd</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="note">Mtd</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="note">Ytd</p>
            </div>
        </div>
    </div>
</div>