<table class="title_daily_table_2_1" style="margin-top: 24px;">
    <tr style="background-color: #0772ba; color: #fff;font-weight: bold;">
        <td colspan="10">Số dư HĐV-Phát sinh theo sản phẩm-KHCN</td>
    </tr>

    <tr>
        <th colspan="2" rowspan="2" style=" font-weight: bold; background-color: rgb(241, 222, 159);" rowspan="2">Khối</th>
        <th style=" font-weight: bold" colspan="4">Phát sinh</th>
        <th style=" font-weight: bold" colspan="4">Phát sinh (+)</th>
    </tr>
    <tr>
        <th style="font-weight: 500;" >Kỳ hạn</th>
        <th style="font-weight: 500;" >số dư PS</th>
        <th style="font-weight: 500;" colspan="2">Lãi suất danh nghĩa</th>
        <th style="font-weight: 500;" >Kỳ hạn</th>
        <th style="font-weight: 500;" >số dư PS</th>
        <th style="font-weight: 500;" colspan="2">Lãi suất danh nghĩa</th>
    </tr>

    <tr style="background-color: rgb(25, 104, 25);color: #fff;font-weight: bold;">
        <td colspan="2">Toàn hàng</td><td></td><td></td><td colspan="2"></td><td></td><td></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" style="font-weight:bold;">Tiền gửi bậc thang</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">006M</td><td></td><td></td><td></td><td style="font-weight: bold;">006M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">015M</td><td></td><td></td><td></td><td style="font-weight: bold;">015M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" style="font-weight:bold;">TG trả lãi trước định kỳ</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">006M</td><td></td><td></td><td></td><td style="font-weight: bold;">006M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">015M</td><td></td><td></td><td></td><td style="font-weight: bold;">015M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" style="font-weight:bold;">Đại chúng</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">006M</td><td></td><td></td><td></td><td style="font-weight: bold;">006M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">015M</td><td></td><td></td><td></td><td style="font-weight: bold;">015M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" style="font-weight:bold;">Khác</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">006M</td><td></td><td></td><td></td><td style="font-weight: bold;">006M</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td style="font-weight: bold;">015M</td><td></td><td></td><td></td><td style="font-weight: bold;">015M</td><td></td><td></td><td></td>
    </tr>
    
    
</table>