<div>
    <figure class="highcharts-figure">
        <div id="Dashboard_Count_Job"></div>
    </figure>
    </div>
    <script>
        var TyleStatusJob = <%- TyleStatusJob %>
    </script>
    
    