<div class="row table_title" >
    <div class="col-lg-1 col-sm-1 ">
        <p>Thời gian</p>
    </div>
    <div class="col-lg-4 col-sm-4 ">
        <p>Tiêu đề báo cáo</p>
    </div>
    <div class="col-lg-2 col-sm-2 ">
        <p>Trạng thái</p>
    </div>
    <div class="col-lg-2 col-sm-2 ">
        <p>Thời hạn</p>
    </div>
    <div class="col-lg-2 col-sm-2 ">
        <p>Tiến độ</p>
    </div>
    <div class="col-lg-1 col-sm-1">
        
    </div>
</div>