<div class="row list_staff_title">
    <div class="col-1">
        <p>CIF</p>
    </div>
    <div class="col-3">
        <p>Họ tên</p>
    </div>
    <div class="col-3">
        <p>Email</p>
    </div>
    <div class="col-2">
        <p>Mobile</p>
    </div>
    <div class="col-2">
        <p>Phòng</p>
    </div>
</div>
