

<div class=" menu_left">
    <div class="row">

        <div class="col-12"><h4>DASHBOARD MONTHLY</h4></div>
    </div>
        <div class="col-12" id="menu_left_nav">
           <a href="/monthly/tindung"><i class="fa-solid fa-credit-card"></i>  Báo cáo tín dụng</a>
            <ul class="subnav_menu_left">
                <li><a href="/monthly/tindung/khcn"><i class="fa-solid fa-user-group"></i> KH Cá nhân</a></li>
                <li><a href="/monthly/tindung/khdn"><i class="fa-solid fa-building"></i> KH Doanh nghiệp</a></li>
                <li><a href="/monthly/tindung/khdnl"><i class="fa-solid fa-people-group"></i> KH Doanh nghiệp lớn</a></li>
                <li><a href="/monthly/tindung/toanhang"><i class="fa-solid fa-globe"></i> Toàn hàng </a></li>
            </ul>
        </div>
        <div class="col-12" id="menu_left_nav">
           <a href="">Báo cáo tín dụng</a>
            <ul class="subnav_menu_left">
                <li><a href="">KH Cá nhân</a></li>
                <li><a href="">KH Doanh nghiệp</a></li>
                <li><a href="">KH Doanh nghiệp lớn</a></li>
                <li><a href="">Toàn hàng </a></li>
            </ul>
        </div>
        <div class="col-12" id="menu_left_nav">
           <a href="">Báo cáo tín dụng</a>
            <ul class="subnav_menu_left">
                <li><a href="">KH Cá nhân</a></li>
                <li><a href="">KH Doanh nghiệp</a></li>
                <li><a href="">KH Doanh nghiệp lớn</a></li>
                <li><a href="">Toàn hàng </a></li>
            </ul>
        </div>
</div>
