<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="/homepage">Phòng KH & QLHQ CV-TCKT</a>
        </div>
        <div class="col-lg-7">
          <div class="row">
             <div class="col-lg-3" id="nav">
                  <a href="">
                    Báo cáo
                    <i class="fa-solid fa-caret-down"></i>
                  </a>
                  <ul class="subnav">
                    <li><a href="/daily">Báo cáo hàng ngày</a></li>
                    <li><a href="/monthly">Báo cáo theo tháng</a></li>
                  </ul>
              </div>
              <div class="col-lg-3" id="nav">
                  <a href="/DScongviec">
                    Công việc
                    <i class="fa-solid fa-caret-down"></i>
                    <ul class="subnav">
                      <li><a href="/DScongviec">Theo dõi công việc</a></li>
                      <li><a href="/DScongviec/quanly">Quản lý công việc</a></li>
                    </ul>
                  </a>
              </div>
              <div class="col-lg-3" id="nav">
                  <a href="">
                    Nội bộ
                    <i class="fa-solid fa-caret-down"></i>
                  </a>
              </div>
              <div class="col-lg-3" id="nav">
                <a href="/DSnhansu">
                  Nhân sự
                  <i class="fa-solid fa-caret-down"></i>
                </a>
            </div>
          </div>
        </div>
              <div class="col-lg-2" id="nav">
                <a href="/">Cá nhân</a>
                <i class="fa-solid fa-user" style="color: #0a0e7b;"></i>
                <ul class="subnav">
                  <li style="text-align: left; padding-left: 46px;"><a href="/">Tài khoản</a></li>
                  <li style="text-align: left; padding-left: 46px;"><a href="/doimatkhau">Đổi mật khẩu</a></li>
                  <li style="text-align: left; padding-left: 46px;"><a href="/logout">Log out</a></li>
                </ul>
              </div>
      
      </div>
    </div>
</header>