<div class="row title_report_Daily" >
    <div class="col-7">
        <h4>BÁO CÁO TÌNH HÌNH HOẠT ĐỘNG HĐV - TD</h4>
    </div>
    <div class="col-2">
        <p>Ngày báo cáo</p>
    </div>
    <div class="col-1">
        <input  name="bao_cao_ngay" value="<%=date %>" type="date" />
    </div>
</div>

<script>
    $(document).ready(function(){
        $('input[name="bao_cao_ngay"]').change(function(){
           console.log($(this).val())
           let date = $(this).val()
        //    let param = date.replaceAll('-','')
           window.location.href = `/daily/${date}`
        })
    })
</script>