.select_time{
    background-color: var(--color-infor-staff);
    height: 52px;
}

.select_time p {
    margin-bottom: 0;
    height: 100%;
    color: var(--color-bl);
    font-weight: 500;
    float: right;
    line-height: 36px;
    padding-right: 10px;
}

.select_time .col-lg-2 {
    padding: 0;
    padding-top: 8px;
}


.select_time input {
    border-radius: 5px;
    border: 1px solid rgb(245, 243, 243);
    height: 36px;
    width: 80%;
    text-align: center;
}
.select_time select {
    border-radius: 5px;
    border: 1px solid rgb(245, 243, 243);
    height: 36px;
    width: 80%;
}

.select_time .row {
    text-align: center;
    
}

.select_time button {
    background-color: var(--color-bl);
    color: white;
    font-weight: 500;
    width: 80%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-bl);
    float: left;
}