.avatar {
    width: 100%;
    height: 100%;
    background-color: var(--color-title-table);
    align-items: center;
}


.frame_profile {
    background-color: var(--color-infor-staff);
    padding: 16px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.2) 0px 12px 28px 0px, rgba(0,0,0,0.1) 0px 2px 4px 0px, rgba(255,255,255,0.05) 0px 0px 0px 1px inset;
}

.frame_profile .infor_Detail_Row .staffname {
    font-size: 20px;
    font-weight: bold;
}
.frame_profile .infor_Detail_Row .staffcif {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-bl);
}

.infor_Detail_Row .itemInfo p{
    font-size: 14px;
    color: gray;
    font-weight: bold;
    margin-bottom: 6px
}

.infor_Detail_Row .itemContent p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}
