<!-- Biến động quy mô và lãi xuất -->

<div class="title_daily_table_2">
    <div class="row">
        <div class="col-6"><p>HUY ĐỘNG VỐN</p></div>
        <div class="col-6"><p>TÍN DỤNG</p></div>
    </div>
    <div class="row">
        <div class="col-12"><p>BIẾN ĐỘNG QUY MÔ VÀ LÃI SUẤT</p></div>
    </div>
    <div class="row">
        <div class="col-6"><%- include('daily_table_2_1.ejs') %></div>
        <div class="col-6"><%- include('daily_table_2_2.ejs') %></div>
    </div>
</div>