<!-- Top khách hàng biến động lớn -->

<div class="title_daily_table_2">
    <div class="row">
        <div class="col-12"><p>TOP KHÁCH HÀNG BIẾN ĐỘNG LỚN</p></div>
    </div>
    <div class="row">
        <div class="col-6"><%- include('daily_table_3_1.ejs') %></div>
        <div class="col-6"><%- include('daily_table_3_2.ejs') %></div>
    </div>
</div>