.daily_dashboard_HDV_title {
    margin-bottom: 10px;
    line-height: 36px;
    color: white;
    background-color: var(--color-bl);
}

.daily_dashboard_HDV_title .col-7 {
    text-align: center;
}
.daily_dashboard_HDV_title .col-7 h4{
    margin-bottom: 0;
    line-height: 36px;
}
.daily_dashboard_HDV_title .col-2 p {
    float: right;
    font-weight: bold;
    color: white;
    line-height: 36px;
    margin-bottom: 0;

}

.daily_dashboard_HDV_title .col-1 input {
    text-align: center;
}
