.title_report_Daily {
    background-color: var(--color-bl);
    margin-bottom: 10px;
    color: white;
    line-height: 42px;
}

.title_report_Daily .col-7 {
    text-align: center;
}
.title_report_Daily .col-2 p {
    float: right;
    font-weight: bold;
    color: var(--color-bl);
    color: white;
    line-height: 42px;
}

.title_report_Daily .col-1 input {
    text-align: center;
    height: 42px;
}