<figure class="highcharts-figure">
    <div id="daily_dashboard_TD_chart_6"></div>
</figure>
<script>
    var arrayInputDate = <%- arrayInputDate %>
    var total_DU_NO_TAT_TOAN = <%= total_DU_NO_TAT_TOAN %>
    var ti_le_tat_toan_truoc_han = <%= ti_le_tat_toan_truoc_han %>
</script>
