<figure class="highcharts-figure">
    <div id="daily_dashboard_TD_chart_7"></div>
</figure>
<script>
    var arrayInputDate = <%- arrayInputDate %>
    var total_DU_NO_GIAI_NGAN = <%= total_DU_NO_GIAI_NGAN %>
    var ti_le_giai_ngan_uu_dai = <%= ti_le_giai_ngan_uu_dai %>
</script>
