<figure class="highcharts-figure">
    <div id="daily_dashboard_TD_chart_2"></div>
</figure>

<script>
    var arrayInputDate = <%- arrayInputDate %>
    var data_LAI_SUAT_HD = <%= data_LAI_SUAT_HD %>
</script>