<div class="row">
    <div style="width: 20%; padding: 0 10px 0 10px;">
            <%- include('daily_dashboard_TD_1_1.ejs',{
                    title: 'Quy mô kỳ báo cáo', 
                    current: 1, 
                        Dtd: 2,
                        Dtd_value: 2,
                        Mtd: 3,
                        Mtd_value: 3,
                        Ytd: 4,
                        Ytd_value: 4,
                    Kht: 5,
                    Kht_value:5
            }) %>
    </div>
    <div style="width: 30%; padding: 0 10px 0 10px;">
            <%- include('daily_dashboard_TD_1_2.ejs',{
                title_1: 'Tất toán gốc vay' ,
                title_2: 'SLHD tất toán',
                current_1: 11,
                current_2: 12,
                LKT_1: 111,
                LKT_2: 112,
                LKN_1: 1111,
                LKN_2: 1112 
            }) %>
    </div>
    <div style="width: 30%; padding: 0 10px 0 10px;">
        <%- include('daily_dashboard_TD_1_2.ejs',{
            title_1: 'Dư nợ giải ngân' ,
            title_2: 'SLHD giải ngân',
            current_1: 21,
            current_2: 22,
            LKT_1: 211,
            LKT_2: 212,
            LKN_1: 2111,
            LKN_2: 2112
        }) %>
    </div>
    <div style="width: 20%; padding: 0 10px 0 10px;">
        <%- include('daily_dashboard_TD_1_1.ejs',{
                title: 'Lãi suất hợp đồng', 
                current: 1, 
                    Dtd: 2,
                    Dtd_value: 2,
                    Mtd: 3,
                    Mtd_value: 3,
                    Ytd: 4,
                    Ytd_value: 4,
                Kht: 5,
                Kht_value:5
        }) %>
</div>
    
     
</div>