<div class="row daily_dashboard_HDV_select" >
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
        <div class="row">
            <div class="padding_select">
                <a class="<%= active == 'TOAN_HANG' ? 'active' : '' %> " href="TOAN_HANG">Toàn hàng</a>
            </div>
            <div class="padding_select">
                <a class="<%= active == 'KHCN' ? 'active' : '' %> " href="KHCN">KHCN</a>
            </div>
            <div class="padding_select">
                <a class="<%= active == 'KHDN' ? 'active' : '' %> " href="KHDN">KHDN</a>
            </div>
            <div class="padding_select">
                <a class="<%= active == 'KHDNL' ? 'active' : '' %> " href="KHDNL">KHDNL</a>
            </div>
        </div>
    </div>
</div>

<script>

</script>