<div style="width: 65%;">
    <p style="border-radius: 5px;
        color: white;
        background-color: rgb(31, 78, 120);
        text-align: center;
        margin-bottom: 0px;
        height: 42px;
        line-height: 42px;">Tất toán</p>
</div>
<div style="display: flex; margin-top: 5px;">
    <div style="width: 65%;">
        <p style="color: black;
        background-color: rgb(221, 235, 247);
        text-align: center;
        margin-bottom: 0px;
        height: 42px;
        line-height: 42px;">Số dư tất toán</p>
    </div>
    <div style="width: 35%;">
        <p style="color: white;
        margin-left: 5px;
        background-color: rgb(31, 78, 120);
        text-align: center;
        margin-bottom: 0px;
        height: 42px;
        line-height: 42px;"><%= (Tong_du_no_tat_toan) ? (Math.round(Tong_du_no_tat_toan)).toLocaleString("en-US") : '' %></p>
    </div>
</div>
<div style="display: flex; margin-top: 5px;">
    <div style="width: 65%;">
        <p style="color: black;
        background-color: rgb(221, 235, 247);
        text-align: center;
        margin-bottom: 0px;
        height: 42px;
        line-height: 42px;">Số dư tất toán trước hạn</p>
    </div>
    <div style="width: 35%;">
        <p style="color: white;
        margin-left: 5px;
        background-color: rgb(31, 78, 120);
        text-align: center;
        margin-bottom: 0px;
        height: 42px;
        line-height: 42px;"><%= (Tong_du_no_tat_toan_uu_dai) ? (Math.round(Tong_du_no_tat_toan_uu_dai)).toLocaleString("en-US") : '' %></p>
    </div>
</div>

